.nav{
    position: fixed;
    height: calc(100vh - 4rem);
    width: 70px;
    margin: 2rem;
    &__ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background-color: #161D2F ;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 1.2rem;
        border-radius: 10px;
    }

    &__categories{
        gap: 3rem;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }


    &__img--user{
        padding: .8rem;
        cursor: pointer;
        transition: transform .2s;

        &:hover{
            transform: scale(120%);
        }
    }
}
