@use '../mixins/responsive.scss' as *;

.section{
    margin-bottom: 4rem;
    &__title{
        font-weight: 300;
        color: white;
        font-size: 1.7rem;
        margin: 0;
        margin-bottom: 1rem;
        display: flex;
        align-items: baseline;
        gap: 1.5rem;

        &-container{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            padding-right: 2.5rem;
        }
    }

    &__see-more{
        color: #69789e;
        text-transform: uppercase;
        font-size: .8rem;
        &:hover{
            text-decoration: underline;
        }
    }

    &__container{
        width: calc(100% - 20px);
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        grid-template-rows: 1fr 1fr;
        gap: 2.2rem;

        &--slider{
            width: 100%;
            display: flex;
            gap: 3rem;
            overflow-x: scroll;
            scrollbar-color: #e63b3b #5a698f3f;
            scrollbar-width: thik;
    
            &::-webkit-scrollbar{
                height: 12px;
            }
    
            &::-webkit-scrollbar-track {
                background-color: #5a698f3f;
                border-radius: 50px;
            }
    
            &::-webkit-scrollbar-thumb{
                background-color: #e63b3b;
                border-radius: 50px;
            }
        }
    }

    &__item{
        min-width: 100%;
        min-height: 150px;
        height: auto;
        background-image: url(https://image.tmdb.org/t/p/original//irwQcdjwtjLnaA0iErabab9PrmG.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        object-fit: fill;
        background-position: top center;
        border-radius: 10px;
        margin-bottom: 1rem;
        transition: filter .2s;
        position: relative;

        &__container{
            position: relative;
        }
        

        &:hover{
            filter: contrast(.7);
            transition: filter .3s;
            cursor: pointer;
        }

        &--bottom-part{
            background-position: top -100px  center;
            min-height: 190px;
        }

       &__container--bottom-part{
        @include responsive(laptop){
            grid-column: 1/3;
        }

        
        

        &--second{
            @include responsive(laptop){
            grid-column: 3/5;
            }
        }
       }

        &--slider{
            flex-shrink: 0;
            width: 450px;
            height: 250px;
            background-image: url(https://image.tmdb.org/t/p/original//irwQcdjwtjLnaA0iErabab9PrmG.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            border-radius: 10px;
            position: relative;
            cursor: pointer;
            z-index: 0;

            &::after{
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                border-radius: 10px;
                z-index: 1;
            }


            &:hover{
                &::after{
                filter: contrast(.7);
                transition: filter .3s;
                cursor: pointer;
                }
            }
            
    }

        &-type{
            position: relative;
            display: flex;
            align-items: center;
            gap: .3rem;
            &--slider{
                display: flex;
                align-items: center;
                gap: .3rem;
                position: relative;
                color: white;
                &::after{
                    content: '';
                    width: 3px;
                    height: 3px;
                    background-color: white;
                    border-radius: 50%;
                    position: absolute;
                    left: -1rem;
                }
            }
            &::after{
                content: '';
                width: 2px;
                height: 2px;
                background-color: white;
                border-radius: 50%;
                position: absolute;
                left: -.9rem;
            }
        }
    }

    &__data{
        color: #d5dcee;
        display: flex;
        gap: 1.8rem;
        font-size: .9rem;
        padding-left: .5rem;
        margin-bottom: .6rem;
        align-items: center;
        &--slider{
            position: absolute;
            bottom: 1rem;
            margin-left: 2.5rem;
            width: 100%;
            display: flex;
            gap: 2rem;
            color: white;
            z-index: 10;
            margin-bottom: .5rem;
        }
    }

    &__bookmark-icon{
        pointer-events: none;
        &--slider{
            pointer-events: none;
        }
        &-container{
            position: absolute;
            top: .5rem;
            right: .5rem;
            background-color: rgba(29, 29, 29, 0.678);
            padding: .7rem;
            border-radius: 50%;
            transition: transform .3s;
            &:hover{
                cursor: pointer;
                background-color: #e63b3b;
                transform: scale(120%);
                transition: transform .3s;
        }

            &--slider{
                position: absolute;
                top: 1.3rem;
                right: 1.5rem;
                z-index: 1;
                background-color: rgba(29, 29, 29, 0.678);
                padding: .7rem;
                border-radius: 50%;
                transition: transform .3s;
                z-index: 10;
                cursor: pointer;
                &:hover{
                    cursor: pointer;
                    background-color: #e63b3b;
                    transform: scale(120%);
                    transition: transform .3s;
                }
            }
        }

        
    }

    &__item-title{
        color: white;
        padding-left: .5rem;
        font-size: 1.3rem;

        &--slider{
            position: absolute;
            bottom: 3rem;
            color: white;
            z-index: 10;
            margin-left: 2.5rem;
            font-size: 1.4rem;
        }
    }
    

}

.media{
    font-size: .8rem;
    text-transform: uppercase;
    border: 1px solid white;
    padding: .2rem .6rem .2rem .6rem;
    border-radius: 6px;
    transform: translateY(-.2rem);
}
